{% extends 'layout/template.html.twig' %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>COLEÇÕES</h2>
            </div>
            <div class="body">
                {% if colecao is not empty %}
                    {{ form_start(form, {'action': path('admin_produto_colecao_edit', { 'colecao': colecao.id }), 'method': 'POST'}) }}
                {% else %}
                    {{ form_start(form, {'action': path('admin_produto_colecao_create'), 'method': 'POST'}) }}
                {% endif %}
                <div class="row clearfix">
                    <div class="col-md-12">
                        <label class="form-label">{{ form_label(form.nome) }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.nome) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer align-right">
                    <a href="{{ url('admin_produto_colecao') }}">
                        <button type="button" class="btn btn-link waves-effect">Voltar</button>
                    </a>
                    <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

