{% extends "layout/template.html.twig" %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    COLEÇÕES
                </h2>
                <a href="{{ url('admin_produto_colecao_form') }}">
                    <button type="button" class="btn bg-blue waves-effect btn-card-header m-r--5">
                        <i class="material-icons">add</i>
                        <span>Adicionar</span>
                    </button>
                </a>
            </div>
            <div class="body table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>NOME</th>
                        <th class="text-right">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for colecao in colecoes %}
                        <tr>
                            <td>{{ colecao.nome }}</td>
                            <td class="text-right">
                                <a href="{{ path('admin_produto_colecao_form', {'id': colecao.id}) }}">
                                    <button type="button" class="btn btn-xs btn-default waves-effect">
                                        <i class="material-icons">mode_edit</i>
                                    </button>
                                </a>
                                <button
                                        type="button"
                                        class="btn btn-xs btn-default waves-effect btn-delete"
                                        data-url="{{ path('admin_produto_colecao_delete', { 'colecao': colecao.id }) }}"
                                        data-label='Coleção'
                                        data-id={{ colecao.id }}
                                >
                                    <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}