<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Cartas Novas</h2>
                    <div class="product-carousel">
                        {% for produto in produtosNovos %}
                        {% include 'loja/produto/produto.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>