<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align-center" id="modal-delete-label"></h4>
            </div>
            <div class="modal-body" id="modal-delete-body">
                Remover registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Não</button>
                <button type="button" id="btn-confirm-delete" class="btn btn-primary waves-effect">Sim</button>
            </div>
        </div>
    </div>
</div>