{% set route = app.request.attributes.get("_route") %}

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ route == 'home_index' ? 'active' : null}}">
                        <a href="{{ url('home_index') }}">Home</a>
                    </li>
                    <li class="{{ route == 'home_produto' ? 'active' : null}}">
                        <a href="{{ url('home_produto') }}">Produtos</a>
                    </li>
                    <li>
                        <a href="#">Categorias</a>
                    </li>
                    <li class="{{ route == 'home_contato' ? 'active' : null}}">
                        <a href="{{ url('home_contato') }}">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->