<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site name</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/loja.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include 'loja/layout/header.html.twig' %}

{% include 'loja/layout/menu.html.twig' %}

{% block body %}
{% endblock %}

{% include 'loja/layout/footer.html.twig' %}

<!-- Latest jQuery form server -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>

<!-- Bootstrap JS form CDN -->
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<!-- jQuery sticky menu -->
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>

<!-- jQuery easing -->
<script src="{{ asset('assets/js/jquery.easing.1.3.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap-notify.min.js') }}"></script>

<!-- Main Script -->
<script src="{{ asset('assets/js/main.js') }}"></script>
<script src="{{ asset('assets/js/loja/custom.js') }}"></script>

<!-- Slider -->
<script src="{{ asset('assets/js/bxslider.min.js') }}"></script>
<script src="{{ asset('assets/js/script.slider.js') }}"></script>
</body>
</html>