<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    {% include "layout/user-info.html.twig" %}
    <!-- #User Info -->
    <!-- Menu -->
    {% include "layout/menu.html.twig" %}
    <!-- #Menu -->
    <!-- Footer -->
    {% include "layout/footer.html.twig" %}
    <!-- #Footer -->
</aside>
