{% set controller = app.request.attributes.get("_controller") %}
{% set route = app.request.attributes.get("_route") %}


<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        {% for menu in createMenu() %}
        {% set hasSubmenu = menu.submenu is not empty %}
        {% set toggled =  menu.controller in controller and hasSubmenu ? 'toggled' : '' %}
        
        <li {{ route == menu.path ? 'class="active"' : '' }}>
            <a 
                href="{{ menu.path ? url(menu.path) : 'javascript:void(0);' }}"
                class="{{ menu.submenu ? 'menu-toggle' : '' }} {{ toggled }} "
            >
                {% if menu.icone is not empty %}
                <i class="material-icons">{{ menu.icone }}</i>
                {% endif %}
                <span>{{ menu.descricao }}</span>
            </a>
            {% if hasSubmenu %}
            <ul class="ml-menu" {{ toggled ? 'style="display: block;"' ? '' }}>
                {% for submenu in menu.submenu %}
                <li {{ submenu.path in route ? 'class="active"' : '' }}>
                    <a href="{{ url(submenu.path) }}">
                        <span>{{ submenu.descricao }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>