<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>ThePetz</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{ asset('assets/css/waves.min.css') }}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet">
    <!-- Custom Css -->
    <link href="{{ asset('assets/css/style.css') }} " rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="{{ asset('assets/css/themes/all-themes.css') }}" rel="stylesheet" />
    {% block css %}{% endblock %}
</head>

<body class="theme-green">

    {% include "layout/pre-loader.html.twig" %}

    <div class="overlay"></div>
    {% include "layout/header.html.twig" %}
    
    <section>
        {% include "layout/left-sidebar.html.twig" %}
        {% include "layout/right-sidebar.html.twig" %}
    </section>
    
    <section class="content">
        <div class="container-fluid">
    {% block body %}
            <div class="block-header">
            <h2>BLANK PAGE</h2>
    {% endblock %}
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <!-- Select Plugin Js -->
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{{ asset('assets/js/jquery.slimscroll.js') }}"></script>

    <script src="{{ asset('assets/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.mask.js') }}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{ asset('assets/js/waves.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    
    {% block javascript %}{% endblock %}

    {% include "layout/modal/default-modal.html.twig" %}
    {% include "layout/modal/modal-delete.html.twig" %}
    
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <script>
                $(function () {
                    $('#modal-default').modal('show');
                    $('#modal-body').html("{{ message }}");
                });
            </script>
        {% endfor %}
    {% endfor %}
    
</body>

</html>