{% extends "layout/template.html.twig" %}

{% block body %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Dados da Empresa
            </h2>
        </div>
        <div class="body">
            {{ form_start(form, {'action': path('admin_configuracao_empresa_edit'), 'method': 'POST'}) }}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home_with_icon_title" data-toggle="tab" aria-expanded="true">
                        <i class="material-icons">public</i> GERAL
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#profile_with_icon_title" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">place</i> ENDEREÇO
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#messages_with_icon_title" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">image</i> LOGOMARCA
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#settings_with_icon_title" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">settings</i> PARAMÊTROS
                    </a>
                </li>
                <li role="presentation" class="">
                    <a href="#settings_with_icon_title" data-toggle="tab" aria-expanded="false">
                        <i class="material-icons">people_outline</i> RESPONSÁVEIS
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home_with_icon_title">
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">{{ form_label(form.pessoa.tipo) }}</label>
                                {{ form_widget(form.pessoa.tipo) }}
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.nome) }}
                                    <label class="form-label">{{ form_label(form.pessoa.nome) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.cpfCnpj) }}
                                    <label class="form-label">{{ form_label(form.pessoa.cpfCnpj) }}</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.contato.email) }}
                                    <label class="form-label">{{ form_label(form.pessoa.contato.email) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.contato.telefone) }}
                                    <label class="form-label">{{ form_label(form.pessoa.contato.telefone) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.contato.celular) }}
                                    <label class="form-label">{{ form_label(form.pessoa.contato.celular) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.endereco.cep) }}
                                    <label class="form-label">{{ form_label(form.pessoa.endereco.cep) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.endereco.rua) }}
                                    <label class="form-label">{{ form_label(form.pessoa.endereco.rua) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.endereco.numero) }}
                                    <label class="form-label">{{ form_label(form.pessoa.endereco.numero) }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.endereco.bairro) }}
                                    <label class="form-label">{{ form_label(form.pessoa.endereco.bairro) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    {{ form_widget(form.pessoa.endereco.municipio) }}
                                    <label class="form-label">{{ form_label(form.pessoa.endereco.municipio) }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form_widget(form.pessoa.endereco.estado) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages_with_icon_title">
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings_with_icon_title">
                    
                </div>
            </div>
            
        </div>
        <div class="footer align-right">
            <button class="btn btn-success m-r-10 m-b-10">Salvar</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
