{% set movimentacao = getUltimaMovimentacao(produto) %}
<div class="single-product">
    <div class="product-f-image">
        <img src="https://via.placeholder.com/195x243" alt="">
        <div class="product-hover">
            <a href="javascript:void(0)"
               class="add-to-cart-link btn-add-produto"
               data-produto="{{ produto.id }}"
            >
                <i class="fa fa-shopping-cart"></i>
                Add ao Carrinho
            </a>
            <a href="{{ url('home_info_produto', {'produto': produto.id}) }}" class="view-details-link">
                <i class="fa fa-link"></i> Ver detalhes
            </a>
        </div>
    </div>

    <h2>
        <a href="{{ url('home_info_produto', {'produto': produto.id}) }}">
            {{ produto.nome }}
        </a>
    </h2>

    <div class="product-carousel-price">
        <ins> R${{ produto.valorVenda|number_format(2, ',', '.') }} </ins>
    </div>
</div>