<div class="single-sidebar">
    <h2 class="sidebar-title">Pesquisar Produtos</h2>
    <form action="">
        <input type="text" placeholder="Pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
</div>

<div class="single-sidebar">
    <h2 class="sidebar-title">Produtos</h2>
    {% for produto in produtosRelacionados %}
        {% set movimentacao = getUltimaMovimentacao(produto) %}
        <div class="thubmnail-recent">
            <img src="https://via.placeholder.com/190" class="recent-thumb" alt="">
            <h2><a href="">{{ produto.nome }}</a></h2>
            <div class="product-sidebar-price">
                <ins>R${{ movimentacao.valorVenda }}</ins>
            </div>
        </div>
    {% endfor %}
</div>