<div class="col-md-3 col-sm-6">
    <div class="single-shop-product">
        <div class="product-upper">
            <img src="https://via.placeholder.com/195x243" alt="">
        </div>
        <h2>
            <a href="{{ url('home_info_produto', {'produto': produto.id}) }}">
                {{ produto.nome }}
            </a>
        </h2>
        <div class="product-carousel-price">
            <ins>R$ {{ movimentacao.valorVenda|number_format(2, ',', '.')  }}</ins>
        </div>

        <div class="product-option-shop">
            <a
                class="add_to_cart_button"
                data-quantity="1"
                data-product_id="70"
                href="#"
            >
                Adicionar ao Carrinho
            </a>
        </div>
    </div>
</div>