<div class="woocommerce-info">
    Tem um cupom?
    <a class="showcoupon" data-toggle="collapse" href="#coupon-collapse-wrap" aria-expanded="false" aria-controls="coupon-collapse-wrap">
        Clique para adicionar o código
    </a>
</div>
<form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">
    <p class="form-row form-row-first">
        <input type="text" value="" id="coupon_code" placeholder="Cupom" class="input-text" name="coupon_code">
    </p>

    <p class="form-row form-row-last">
        <input type="submit" value="Adicionar" name="apply_coupon" class="button">
    </p>

    <div class="clear"></div>
</form>