<div class="woocommerce-info">
    Você já tem cadastro?
    <a class="showlogin" data-toggle="collapse" href="#login-form-wrap" aria-expanded="false" aria-controls="login-form-wrap">Clique para fazer o login</a>
</div>
{{ form_start(formLogin, {'attr': {'class': 'login collapse', 'id':'login-form-wrap'} }) }}
    <p>Se você já comprou conosco antes, insira seus dados de acesso no formulário abaixo.</p>
    <p class="form-row form-row-first">
        {{ form_row(formLogin.email) }}
    </p>
    <p class="form-row form-row-last">
        {{ form_row(formLogin.password) }}
    </p>
    <div class="clear"></div>
    <p class="form-row">
        <input type="submit" value="Login" name="login" class="button">
        <label class="inline" for="rememberme">
            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                Lembrar de mim
        </label>
    </p>
    <p class="lost_password">
        <a href="#">Recuperar senha?</a>
    </p>
    <div class="clear"></div>
{{ form_end(formLogin) }}
