{% extends'loja/layout/template.html.twig' %}

{% block body %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Carrinho</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {{ include('loja/produto/produtos-lateral.html.twig') }}
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            {{ include('loja/checkout/form-cupom.html.twig') }}
                            <form
                                action="{{ url('home_checkout_finalizar', {'venda': venda.id}) }}"
                                class="checkout"
                                method="post"
                                name="checkout"
                            >
                                <div id="customer_details" class="col2-set">
                                    <div class="col-1">
                                        <div class="woocommerce-billing-fields">
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Nome <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.nome, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    CPF <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.cpfCnpj, {'attr': {'class' : 'input-text cpf'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Contato <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.contato.telefone, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    CEP <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.cep, {'attr': {'class' : 'input-text cep'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Endereço <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.rua, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Número
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.numero, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Complemento
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.complemento, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Bairro <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.bairro, {'attr': {'class' : 'input-text'}}) }}
                                            </p>
                                            <p class="form-row form-row-first">
                                                <label>
                                                    Cidade <abbr title="required" class="required">*</abbr>
                                                </label>
                                                {{ form_widget(form.pessoa.endereco.municipio, {'attr': {'class' : 'input-text'}}) }}
                                            </p>

                                            <div class="clear"></div>

                                        </div>
                                    </div>
                                </div>

                                <h3 id="order_review_heading">Your order</h3>

                                <div id="order_review" style="position: relative;">
                                    <table class="shop_table">
                                        <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Ship Your Idea <strong class="product-quantity">× 1</strong> </td>
                                            <td class="product-total">
                                                <span class="amount">£15.00</span> </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>

                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">£15.00</span>
                                            </td>
                                        </tr>

                                        <tr class="shipping">
                                            <th>Shipping and Handling</th>
                                            <td>

                                                Free Shipping
                                                <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                            </td>
                                        </tr>


                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">£15.00</span></strong> </td>
                                        </tr>

                                        </tfoot>
                                    </table>

                                    <div id="payment">
                                        <ul class="payment_methods methods">
                                            <li class="payment_method_bacs">
                                                <input type="radio" checked="checked" value="1" name="checkout[formaPagamento]" class="input-radio" id="checkout_formaPagamento_0">
                                                <label for="checkout_formaPagamento_0">Transferência Bancária </label>
                                                <div class="payment_box payment_method_bacs">
                                                    <p>Faça seu pagamento diretamente em nossa conta bancária. Por favor, use o seu ID do pedido como referência de pagamento. Seu pedido não será enviado até que os fundos sejam liberados em nossa conta.</p>
                                                </div>
                                            </li>
                                            <li class="payment_method_paypal">
                                                <input type="radio" value="2" name="checkout[formaPagamento]" class="input-radio" id="checkout_formaPagamento_1">
                                                <label for="checkout_formaPagamento_1">PagSeguro <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                                </label>
                                                <div style="display:none;" class="payment_box payment_method_paypal">
                                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="form-row place-order">
                                            <input type="submit" data-value="Place order" value="Place order" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}