{% extends 'layout/template.html.twig' %}

{% block body %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>PRODUTOS E SERVIÇOS</h2>
            </div>
            <div class="body">
                {% if id is not empty %}
                    {{
                    form_start(
                        form,
                        {
                            'action': path('admin_produto_item_edit', { 'produto': id }),
                            'method': 'POST',
                            'attr': {'id': 'form_produto'}
                        }
                    )
                    }}
                {% else %}
                    {{
                    form_start(
                        form,
                            {
                                'action': path('admin_produto_item_create'),
                                'method': 'POST',
                                'attr': {'id': 'form_produto'}
                            }
                        )
                    }}
                {% endif %}
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">{{ form_label(form.nome) }}</label>
                            <div class="form-line">
                                {{ form_widget(form.nome) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form_label(form.grupo) }}</label>
                        <div class="form-group">
                            {{ form_widget(form.grupo) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.movimentacao.valorCusto) }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.movimentacao.valorCusto) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.movimentacao.valorVenda) }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.movimentacao.valorVenda) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.movimentacao.quantidade) }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.movimentacao.quantidade) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.idioma) }}</label>
                        <div class="form-group">
                            {{ form_widget(form.idioma) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.raridade) }}</label>
                        <div class="form-group">
                            {{ form_widget(form.raridade) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">{{ form_label(form.colecao) }}</label>
                        <div class="form-group">
                            {{ form_widget(form.colecao) }}
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <label class="form-label">{{ form_label(form.descricao) }}</label>
                        <div class="form-group">
                            <div class="form-line">
                                {{ form_widget(form.descricao) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer align-right">
                    <a href="{{ url('admin_produto_item') }}">
                        <button type="button" class="btn btn-link waves-effect">Voltar</button>
                    </a>
                    <button type="submit" class="btn btn-primary waves-effect">Salvar</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/admin/produto.js') }}"></script>
{% endblock %}