{% extends "layout/template.html.twig" %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Produtos
                    </h2>
                    <a href="{{ url('admin_produto_item_form') }}">
                        <button type="button" class="btn bg-blue waves-effect btn-card-header m-r--5">
                            <i class="material-icons">add</i>
                            <span>Adicionar</span>
                        </button>
                    </a>
                </div>
                <div class="body table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>CÓDIGO</th>
                            <th>NOME</th>
                            <th class="text-right">AÇÕES</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produto in produtos %}
                            <tr>
                                <td>{{ produto.id }}</td>
                                <td>{{ produto.nome }}</td>
                                <td class="text-right">
                                    <a href="{{ path('admin_produto_item_form', {'id': produto.id}) }}">
                                        <button type="button" class="btn btn-xs btn-default waves-effect">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                    </a>
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default waves-effect btn-delete"
                                            data-url="{{ url('admin_produto_item_delete', {'produto': produto.id}) }}"
                                            data-label='Produto'
                                            data-id={{ produto.id }}
                                    >
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}