{% extends'loja/layout/template.html.twig' %}

{% block body %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Carrinho</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {{ include('loja/produto/produtos-lateral.html.twig') }}
                </div>

                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Produto</th>
                                    <th class="product-price">Valor</th>
                                    <th class="product-quantity">Quantidade</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for carrinho in carrinho.produtosCarrinho %}
                                {% set produto = carrinho.produto %}
                                <tr class="cart_item">
                                    <td class="product-remove">
                                        <a title="Remove this item" class="remove" href="#">×</a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a href="{{ url('home_info_produto', {'produto': produto.id}) }}">
                                            <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="https://via.placeholder.com/190">
                                        </a>
                                    </td>

                                    <td class="product-name">
                                        <a href="{{ url('home_info_produto', {'produto': produto.id}) }}">
                                            {{ produto.nome }}
                                        </a>
                                    </td>

                                    <td class="product-price">
                                        <span class="amount">R${{ produto.valorVenda|number_format('2', ',', '.') }}</span>
                                    </td>

                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="button" class="minus btn-menos" data-id="{{ produto.id }}" value="-">
                                            <input
                                                    type="number"
                                                    size="4"
                                                    class="input-text qty text"
                                                    readonly
                                                    value="{{ carrinho.quantidade }}"
                                                    min="0"
                                                    step="1"
                                                    data-carrinho="{{ carrinho.id }}"
                                                    id="qtd-{{ produto.id }}"
                                            >
                                            <input type="button"
                                                   class="plus btn-mais"
                                                   data-id="{{ produto.id }}"
                                                   value="+">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        <span class="amount" id="total-{{ carrinho.id }}">
                                            R$ {{ (carrinho.quantidade * produto.valorVenda)|number_format('2', ',', '.') }}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="actions" colspan="6">
                                        <div class="coupon">
                                            <label for="coupon_code">Cupom:</label>
                                            <input type="text" placeholder="Código" value="" id="coupon_code" class="input-text" name="coupon_code">
                                            <input type="submit" value="Aplicar cupom" name="apply_coupon" class="button">
                                        </div>
                                        {% if carrinho.id is not empty %}
                                        <a href="{{ url('home_carrinho_produto_finalizar', {'carrinho': carrinho.id}) }}">
                                            <input
                                                type="button"
                                                value="Finalizar"
                                                class="checkout-button button btn-cart alt wc-forward pull-right"
                                            >
                                        </a>
                                        {% else %}
                                            <input
                                                type="button"
                                                value="Finalizar"
                                                class="checkout-button button btn-cart alt wc-forward pull-right"
                                            >
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="cart-collaterals">
                                <div class="cart_totals ">
                                    <h2>Total</h2>

                                    <table cellspacing="0">
                                        <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td><span class="amount" id="sub-total-carrinho">R$ {{ sub_total|number_format('2', ',', '.') }}</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Venda + Frete</th>
                                            <td>Free Shipping</td>
                                        </tr>

                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td><strong><span class="amount" id="total-carrinho">R$ {{ sub_total|number_format('2', ',', '.') }}</span></strong> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <form method="post" action="#" class="shipping_calculator">
                                    <h2>
                                        <a class="shipping-calculator-button" data-toggle="collapse"
                                           href="#calcalute-shipping-wrap" aria-expanded="false"
                                           aria-controls="calcalute-shipping-wrap">
                                            Calcular Frete
                                        </a>
                                    </h2>
                                    <section id="calcalute-shipping-wrap" class="shipping-calculator-form collapse">

                                        <p class="form-row form-row-wide">
                                            <input type="text" id="calc_shipping_postcode"
                                                   name="calc_shipping_postcode"
                                                   placeholder="CEP"
                                                   class="input-text">
                                        </p>
                                        <p><button class="button" value="1" name="calc_shipping" type="submit">Calcular</button></p>
                                    </section>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}